
*{
    box-sizing: border-box;
    margin: 0;
}

body{
  
}
header{
    background-color: orange;
    /* padding: 0.5em; */
}
h1{
/*     background-color: white; */
    min-height: 7vh;
    color: white;
    
    padding: .5em;
    width: max-content;
}
#manny{
    font-size: 2rem;
}
#form-section{
    background-image: url(./images/food-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 93vh;
   display: flex;
  padding-top: 20vh;
   /* text-align: center; */
}
#form-style{
   
    padding: 5vh;
    align-items: center;
    text-align: center;
    box-shadow: 3px 1px 37px 0px rgba(0,0,0,0.89);
    
    width: 45vw;
    height: 50vh;
    
    border-radius: 7px;
    margin: 0 auto;
    background-color: rgb(224, 222, 222);
}

#form{
    margin-top: 7vh;
    
}
input,select{
    text-align: center;
}
.div-pad{
    padding:  5px 0 5px 0 ;
    /* background-color: red; */
}
#send-button{
    background-color: orange;
    color: white;
    border-radius: 7px;
    padding: 1em;
}

@media only screen and (max-width: 600px){
    h1{
/*         background-color: white; */
    }
    #form-style{
        width: 75vw;
        max-height: 80vh;
        padding-bottom: 20px;
    }
}
